.contents-wrapper {
    position: absolute;
    bottom: 30%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.fcOEwC {
    height: 6rem;
    width: 30rem;
    position: relative;
    background: transparent;
    font-size: 1.6rem;
    display: block;
}

.fCEYmB {
    margin-top: 3rem;
    color: white;
    text-align: center;
}

.fCEYmB .contents-wrapper .description .next-line {
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
}

.example-form {
    background-color: white
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }