<div class="bg"></div>
<div class="contents-wrapper">
  <h1 class="fCEYmB">Food Ordering System</h1>
  <h2 class="fCEYmB">Discover the best food &amp; drinks in <span class="next-line">Bengaluru</span></h2>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Search City" matInput [formControl]="myControl"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.locationName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <a class="btn btn-success" (click)=searchRestaurant()>Search</a>


</div>
