<div class="container">
  <div class="mt-5">
    <h6>Your order has been successfully placed!</h6>
    <h3>Order Details: </h3>
    <div class="row ml-4">Order Id: <span class="bold"> {{placedOrderDetails.orderId}}</span></div>
    <div class="row ml-4">Order Amount: Rs {{placedOrderDetails.orderAmount}}</div>
    <div class="row ml-4">Order Time: {{placedOrderDetails.orderCreatedTime | date: medium}}</div>
    <div class="row ml-4">Order Status: {{placedOrderDetails.orderStatus.orderStatusName}}</div>
  </div>
</div>
