<div class="container">
  <h2>Order Summary</h2>
  <hr>
  <div class="row">
    <aside class="col-sm-8">
      <div *ngFor="let item of cartItems?.menu">
        <div class="row mt-1">
          <div class="col-md-2">
            <img style="height: 4rem; width: 4rem" [src]='item.itemIcon' alt="">
          </div>
          <div class="col-md-3">
            <div class="row">
              <h4>{{item.itemName}}</h4>
            </div>
            <div class="row">
              <h6>Price: {{item.itemPrice}}</h6>
            </div>
            <div class="row">
              <p>Quantity: {{item.quantity}}</p>
            </div>
          </div>
          <div class="col-md-3">
            <p>Item Total: {{item.itemPrice}} x {{item.quantity}} = {{item.itemPrice * item.quantity}}</p>
          </div>
        </div>
      </div>
    </aside>
    <aside class="col-sm-4">
      <div>
        <h4>Bill Summary</h4>
        <h6>Bill Amount: {{cartValue}}</h6>
        <div *ngIf="cartItems.discountAdded">
            <p>Discount value({{cartItems.discountPercentage}}): -{{discountValue}}</p>
        </div>
        <h6>Total Payable Amount: {{totalPayableAmount}}</h6>
        <button class="btn btn-success" [disabled]="orderButtonDisabled" (click)="onPlaceOrder()">Place Order</button>
      </div>
    </aside>
  </div>

</div>
