<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Food Ordering System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="form-inline my-2 my-lg-0">
        <!-- <fa-icon class="nav-link" routerLink='/restaurants/' [icon]="faShoppingCart"></fa-icon> -->
        <a class="btn btn-success" routerLink='/cart'>Cart</a>
    </ul>
  </div>
</nav>
