<div class="container">
  <br>
  <h2>Ordering from {{ restaurantMenu?.restaurantName }}</h2>
  <hr>

  <div class="row">
    <aside class="col-sm-3">
      <p>Filter</p>
      <div class="card">
        <article class="card-group-item">
          <header class="card-header">
            <h6 class="title">Price </h6>
          </header>
          <div class="filter-content">
            <div class="card-body">
              <form [formGroup]="priceFilterForm">
                <div class="row">
                  <div class="col-md-3">
                      <input style="width: 3rem" type="text" value="" placeholder="min" formControlName="minPrice">
                  </div>
                  <div class="ml-3">
                      -
                  </div>
                  <div class="col-md-3">
                      <input style="width: 3rem" type="text" value="" placeholder="max" formControlName="maxPrice">
                  </div>
                  <div class="col-md-3">
                      <input type="button" (click) = "onPriceFilterClick()" value="apply">
                  </div>
                </div>
              </form>
            </div> <!-- card-body.// -->
          </div>
        </article> <!-- card-group-item.// -->
      </div>
    </aside>
    <aside class="col-md-9 col-sm-9">
      <div class="row">
        <div class="col-md-3 col-sm-3" *ngFor="let menu of filteredRestaurantMenu">
          <div class="card" style="width: 10rem;">
            <img class="card-img-top" [src]='menu.itemIcon' alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title">{{menu.itemName}}</h6>
              <p class="card-text">Price: {{menu.itemPrice}}</p>
              <div *ngIf="isAddedToCart(menu)">
                      <button class="remove" (click) = "onRemovingQuantity(menu)">-</button>
                      <input type="text" [value]="getQuantity(menu.menuId)" disabled style="width: 3rem; text-align: center">
                      <button class="add" (click) = "onAddingQuantity(menu)">+</button>
              </div>
              <div *ngIf="!isAddedToCart(menu)">
                  <button class="btn btn-success" (click)='onAddToCart(menu)'>Add to cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside> <!-- col.// -->
  </div> <!-- row.// -->

</div>
<!--container end.//-->
