@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("./assets/bg3.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
