<!-- <section>
  <div class="wrapper">

  </div>
</section> -->


<div class="container">
  <br>
  <h2>Best restaurants in {{ cityName }}</h2>
  <hr>

  <div class="row">
    <aside class="col-sm-3">
      <p>Filter</p>
      <div class="card">
        <article class="card-group-item">
          <header class="card-header">
            <h6 class="title">Rating </h6>
          </header>
          <div class="filter-content">
            <div class="card-body">
              <form>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" (click) = "radioButtonChange(4)" class="form-check-input" value=4 name="optradio">
                    4 <span class="fa fa-star checked"></span>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" (click) = "radioButtonChange(3)" class="form-check-input" name="optradio">
                    3 <span class="fa fa-star checked"></span>
                  </label>
                </div>
              </form>

            </div> <!-- card-body.// -->
          </div>
        </article> <!-- card-group-item.// -->
      </div>
    </aside>
    <aside class="col-md-9 col-sm-9">
      <div class="row mt-1">
        <div class="col-md-3 col-sm-3" *ngFor="let restaurant of filteredrestaurants">
          <div class="card" style="width: 10rem;">
            <img class="card-img-top" [src]='restaurant.restaurantIcon' alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title">{{restaurant.restaurantName}}</h6>
              <p class="card-text">Rating: {{restaurant.rating}}({{restaurant.ratingCount}})</p>
              <button (click)="onOrderFood(restaurant.restaurantId)" class="btn btn-primary">Order Food</button>
            </div>
          </div>
        </div>
      </div>
    </aside> <!-- col.// -->
  </div> <!-- row.// -->

</div>
<!--container end.//-->
